.wrapper{
    width: 400px;
    height: 400px;
    margin: 60px auto;
    position: relative;
}


/****START GRAY ROUND****/
.pieGray{
    width: 50%;
    height:100%;
    position: absolute;
    border: 24px solid #E7EBEE;
}

.roundL{
    border-radius: 300px 0 0 300px;
    border-right: none;
    z-index: 70;
    left: -8px;
}

.roundR{
    border-radius: 0 300px 300px 0;
    left: 54%;
    border-left: none;
    z-index: 145;
    animation: grayIndex 10s steps(1, end);
}


/****END GRAY ROUND****/




/****START GREEN ROUND****/
.pieGreen{
    width: 45%;
    height:90%;
    position: absolute;
    border: 60px solid #4ECAAB;

}

.spinner{
    left: 54%;
    top: -15px;
    border-left: none;
    border-radius:0 300px 300px 0;
    transform-origin: left;
    animation:rota 6.1s linear;
    z-index: 150;


}

.filler{
    left: -24px;
    top: -15px;
    border-right: none;
    border-radius:300px 0 0 300px;
    animation: fill 10s steps(1, end);
    z-index: 80;

}

.mask{
    width: 70%;
    height: 125%;
    position: absolute;
    left: 54%;
    background-color: white;
    z-index: 140;
    top: -20px;
    animation: mask 10s steps(1, end);
}

/****END GREEN ROUND****/




/****START TEXT****/
.text {
    position: absolute;
    left: 140px;
    top: 170px;
    z-index: 400;
}

.text h1{
    color: #5F5F5F;
    font-size: 60px;
    margin-bottom: 40px;
}

.text p{
    color: #B5BCC5;
    font-size: 40px;
    text-align: center;
}

.percent{
    position: absolute;
    left: 105%;
    top: 100%;
    z-index: 500;

}

.percent p{
    color:#5F5F5F;
    font-size: 40px;

}

/****END TEXT****/




/****START ANIMATION****/
@keyframes rota{
    0%{transform: rotate(0deg);z-index: }
    100%{transform: rotate(-220deg);}
}

@keyframes fill{
    0%{opacity: 0;}
    50%,100%{opacity: 1;}

}

@keyframes mask{
    0%{opacity: 1;z-index: 200;}
    50%,100%{opacity: 0; z-index: 140;}
}

@keyframes grayIndex{
    0%{z-index: 201;}
    50%,100%{z-index: 145;}
}


/****END ANIMATION****/
